$bg-color: #506881;
$light-grey: #eee;
$green-ish: #56ccc8;
$dark-blue: #152840;
$dark-blue-hover: #263a54;
$grey: #c5cdd1;
$facebook-blue: #4d6baa;
$twitter-blue: #4fc6f8;
$red-ish: #ea6060;
$black: #000;
$white: #fff;
