@import "utilities";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

body {
  background-color: $bg-color;
  max-width: 1200px;
  width: 100%;
  margin: 3rem auto 0 auto;
}

#navbar {
  display: flex;
  overflow: hidden;
  background: $light-grey;
  height: 50px;
  width: 100%;
  justify-content: flex-start;
  align-content: center;

  .hamburger {
    display: flex;
    width: 100%;

    .burger-menu {
      &:hover {
        .menu-portrait {
          display: flex;

          .drop-down {
            &:hover,
            &:active,
            &:focus {
              .blog-content {
                margin-left: 210px;
                display: absolute;
                margin-top: -60px;
                &:hover {
                  i {
                    color: $dark-blue-hover;
                  }
                }

                i {
                  margin-right: 20px;
                  font-size: 15px;
                  color: $green-ish;
                }
              }
            }
          }

          .contact-details {
            background: $grey;
            &-phone {
              width: 210px;
              height: 80px;

              .fa-phone {
                margin: 20px;
                float: left;
                font-size: 25px;
                color: $white;
                transform: rotateY(180deg);
              }

              .phone {
                color: $white;
                height: 80px;
                padding-top: 15px;
                a {
                  text-decoration: none;
                  color: $white;

                  &:hover {
                    background: rgba(0, 0, 0, 0.1);
                  }
                }
              }
            }

            &-address {
              width: 210px;
              height: 80px;

              .fa-map-marker-alt {
                margin: 20px;
                float: left;
                font-size: 25px;
                color: $white;
              }
              .address {
                padding-top: 10px;
                a {
                  text-decoration: none;
                  color: $white;
                  &:hover {
                    background: rgba(0, 0, 0, 0.1);
                  }
                }
              }
            }
            &-email {
              width: 210px;
              height: 80px;

              .fa-envelope {
                margin: 20px;
                float: left;
                font-size: 25px;
                color: $white;
              }
              .email {
                padding-top: 15px;
                a {
                  color: $white;
                  text-decoration: none;
                  &:hover {
                    background: rgba(0, 0, 0, 0.1);
                  }
                }
              }
            }
          }
        }
      }

      .burger {
        background: $green-ish;
        width: 50px;
        height: 50px;
        border: none;
        cursor: pointer;
        position: relative;
        outline: none;
        display: inline-block;

        span {
          display: inline-block;
          width: 20px;
          height: 3px;
          border-radius: 10px;
          background: $white;
          position: absolute;
          left: 15px;
          justify-content: center;
        }

        span:before {
          content: "";
          position: absolute;
          width: 20px;
          height: 3px;
          border-radius: 10px;
          background: $white;
          position: absolute;
          margin: 8px -10px;
          justify-content: center;
        }

        span:after {
          content: "";
          position: absolute;
          width: 20px;
          height: 3px;
          border-radius: 10px;
          background: $white;
          position: absolute;
          margin: -8px -10px;
          justify-content: center;
        }
      }

      .menu-portrait {
        display: none;
        flex-direction: column;
        position: absolute;

        li {
          width: 210px;
          background: $light-grey;
          border-bottom: 1px solid $grey;

          &:hover {
            background-color: $green-ish;
          }

          a {
            width: 100%;
            text-align: left;
            padding-left: 10px;
            color: $dark-grey;

            i {
              margin-right: 20px;
              font-size: 25px;
              color: $grey;
            }
          }
        }
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      z-index: 1;

      .drop-down {
        .blog-content {
          display: none;
          position: absolute;
          background-color: $dark-blue;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
        }

        &:hover {
          .blog-content {
            display: block;
            width: 220px;

            div:hover {
              background: $dark-blue-hover;
            }

            .article {
              display: flex;
              justify-content: space-between;
              color: $green-ish;
              width: 100%;
              font-weight: bold;
              height: 40px;
              padding-top: 12px;

              p {
                margin-left: 20px;
              }
              i {
                margin-right: 20px;
              }

              &:hover {
                background-color: $green-ish;
                color: $dark-blue-hover;
              }
            }
            .section {
              text-align: left;
              width: 100%;
              display: block;
              color: white;
              height: 40px;
              padding-top: 12px;

              p {
                margin-left: 20px;
              }

              &:hover {
                background-color: $dark-blue;
                color: $green-ish;
              }
            }
          }
        }
      }

      li {
        float: left;

        &:hover {
          background: $green-ish;

          a {
            color: $white;
          }
        }
        a,
        .drop-btn {
          display: inline-block;
          width: 80px;
          height: 100%;
          padding: 16px 0px;
          text-align: center;
          text-decoration: none;
          color: black;
          margin: auto;
        }
      }
    }

    .search-container {
      display: inline-block;
      align-self: center;
      position: relative;
      margin-left: 4rem;

      input {
        position: relative;
        top: -200px;
        z-index: -1;
      }

      &:hover input {
        position: relative;
        display: inline;
        transition: 1s;
        top: -1px;
        z-index: 1;
      }

      .show {
        position: relative;
        display: inline;
        transition: 3s;
        top: -1px;
        z-index: 1;
      }

      button {
        border: none;
        color: $dark-grey;
        height: 50px;
        width: 50px;

        &:hover {
          background: $grey;
          cursor: pointer;
        }

        .fa-search {
          font-size: 20px;
        }
      }
    }

    .social {
      width: 150px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-left: 1rem;
      border-left: 1px solid $grey;
      border-right: 1px solid $grey;
      a {
        .fa-facebook {
          font-size: 35px;
          color: $facebook-blue;
        }
        .fa-twitter {
          font-size: 35px;
          color: $twitter-blue;
        }
        .fa-instagram {
          font-size: 35px;
          color: $instagram;
        }
      }
    }

    .login {
      align-self: center;
      width: 50px;
      height: 50px;
      border: none;
      justify-self: right;
      margin-left: 50px;

      &:hover {
        background: $grey;
        cursor: pointer;

        i {
          color: $facebook-blue;
        }
      }

      i {
        font-size: 25px;
        color: $dark-grey;
      }
    }
  }
}

// SLIDER!!!!!!

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  margin-top: 100px;
  height: 500px;
  position: relative;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  background-clip: content-box;
  border: 3px solid $dark-grey;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
  &:hover {
    background-color: $grey;
  }
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 250px;
  width: 3rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 5px;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: 0;
}

.carousel::after,
.carousel__next {
  right: 0;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: $light-grey;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  background-color: rgba(0, 0, 0, 0.5);
}
