@import "utilities";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

body {
  background-color: $bg-color;
  max-width: 1200px;
  width: 100%;
  margin: 3rem auto 0 auto;
}

#navbar {
  display: flex;
  // overflow: hidden;
  background: $light-grey;
  height: 50px;
  width: 100%;
  justify-content: flex-start;
  align-content: center;

  .hamburger {
    display: flex;
    width: 100%;
    .burger {
      background: $green-ish;
      width: 50px;
      height: 50px;
      border: none;
      cursor: pointer;
      position: relative;

      span {
        display: inline-block;
        width: 20px;
        height: 3px;
        border-radius: 10px;
        background: $white;
        position: absolute;
        left: 15px;

        &:nth-child(1) {
          top: 15px;
        }
        &:nth-child(2) {
          top: 23px;
        }
        &:nth-child(3) {
          top: 31px;
        }
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      z-index: 1;

      .drop-down {
        .blog-content {
          display: none;
          position: absolute;
          background-color: $dark-blue;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
        }
        &:hover {
          .blog-content {
            display: block;
          }
        }
      }

      li {
        float: left;

        &:hover {
          background: $green-ish;

          a {
            color: $white;
          }
        }
        a,
        .drop-btn {
          display: inline-block;
          width: 80px;
          height: 100%;
          padding: 16px 0px;
          text-align: center;
          text-decoration: none;
          color: black;
          margin: auto;
        }
      }
    }

    .search-container {
      display: inline-block;
      align-self: center;
      position: relative;
      margin-left: 4rem;

      input {
        position: relative;
        top: -200px;
        z-index: -1;
      }

      &:hover input {
        position: relative;
        display: inline;
        transition: 3s;
        top: -1px;
        z-index: 1;
      }

      .show {
        position: relative;
        display: inline;
        transition: 3s;
        top: -1px;
        z-index: 1;
      }

      button {
        border: none;
        color: $dark-grey;
        height: 50px;
        width: 50px;

        &:hover {
          background: $grey;
        }

        .fa-search {
          font-size: 20px;
        }
      }
    }

    .social {
      width: 150px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-left: 1rem;
      border-left: 1px solid $grey;
      border-right: 1px solid $grey;
      a {
        i {
          font-size: 35px;
        }
      }
    }

    .login {
      align-self: center;
      width: 50px;
      height: 50px;
      border: none;
      i {
        font-size: 25px;
        color: $dark-grey;
      }
    }
  }
}
