@import "utilities";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

body {
  background-color: $bg-color;
  max-width: 1200px;
  width: 100%;
  margin: 3rem auto 0 auto;
}

#navbar {
  display: flex;
  overflow: hidden;
  background: $light-grey;
  height: 50px;
  width: 100%;
  justify-content: flex-start;
  align-content: center;

  .hamburger {
    display: flex;
    .burger {
      background: $green-ish;
      width: 50px;
      height: 50px;
      border: none;
      cursor: pointer;
      position: relative;

      span {
        display: inline-block;
        width: 20px;
        height: 3px;
        border-radius: 10px;
        background: $white;
        position: absolute;
        left: 15px;

        &:nth-child(1) {
          top: 15px;
        }
        &:nth-child(2) {
          top: 23px;
        }
        &:nth-child(3) {
          top: 31px;
        }
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      li {
        float: left;

        &:hover {
          background: $green-ish;

          .burger-blog-btn {
            background: $green-ish;
            color: $white;
          }

          a {
            color: $white;
          }
        }
        a {
          display: inline-block;
          width: 100px;
          height: 100%;
          padding: 16px 0px;
          text-align: center;
          text-decoration: none;
          color: black;
          margin: auto;
        }
        .burger-blog-btn {
          display: inline-block;
          width: 100px;
          height: 100%;
          text-align: center;
          border: none;
          padding: 16px 0px;
        }
        .burger-blog {
          display: none;

          &-tech {
            display: none;
          }
          &-tech {
            display: none;
          }
          &-tech {
            display: none;
          }
          &-tech {
            display: none;
          }
        }
      }
    }
  }
}
